
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

//selectize
@import "~selectize/dist/css/selectize.bootstrap3.css";

ul.nav>li>a{
  color : white !important;
}

a.dropdown-toggle{
  color : white !important;
}
.navbar-brand{
  color : white !important;
}

.panel-heading{
  color : white !important;
}

.nav .navbar-nav{
  color : white;
}